<div class="col-md-12 mt-3">

  <h1>{{pageTitle}}</h1>
  <p>
    Registrate para comenzar a usar la plataforma.
  </p>

  <!-- Formulario de rigistro -->
  <form class="col-md-5 ml-0 pl-0">

    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" name="name" class="form-control">
    </div>

    <div class="form-group">
      <label for="surname">Apellido</label>
      <input type="text" name="surname" class="form-control">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" name="email" class="form-control">
    </div>

    <div class="form-group">
      <label for="password">Contraseña</label>
      <input type="password" name="password" class="form-control">
    </div>

    <input type="submit" value="Registrarme" class="btn btn-success">

  </form>
</div>
