<div *ngIf="!post" class="col-md-12">
  Cargando...
</div>

<div *ngIf="post" class="col-md-12">

  <h1 class="mt-3">{{post.title}}</h1>

  <p>
    {{post.category.name}} - <a [routerLink]="[ '/perfil', post.user.id ]" >{{post.user.name + ' ' + post.user.surname}}</a>
  </p>

  <hr/>

  <div class="row">

    <div class="col-md-7">
      <p [innerHtml]="post.content"></p>

    </div>

    <div class="colmd-5">
      <div class="text-center" *ngIf="post.image" >
        <img width="450" src="{{global.urlPostGetImage + post.image}}" alt="Imagen de la entrada">
      </div>

    </div>

  </div>



</div>
