<div class="container" > <!-- CONTENEDOR de Angular -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light"> <!-- NAVBAR bootstrap -->

    <a class="navbar-brand" href="#">
      <img src="assets/images/blog_logo_66x64.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Blog
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Menu flotando a la izquierda -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/inicio']" >Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngFor="let category of categories" >
          <a class="nav-link" [routerLink]="[ '/categoria', category.id ]">{{category.name}}</a>
        </li>
      </ul>

      <!-- Menu flotando a la derecha -->
      <ul class="navbar-nav navbar-right" *ngIf="!identity">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/login']" >Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/registro']" >Registrarse</a>
        </li>
      </ul>

      <!-- Menu flotando a la derecha -->
      <ul class="navbar-nav navbar-right" *ngIf="identity">

        <li *ngIf="identity && identity.image" class="nav-item" >
          <div class="avatar_nav_mask" >
            <img src="{{urlAvatar + identity.image}}"/>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{identity.name}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/crear-entrada']" >Crear entrada</a>
            <a class="dropdown-item" [routerLink]="['/crear-categoria']" >Crear categoria</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="[ '/perfil', identity.sub ]">Mi perfil</a>
            <a class="dropdown-item" [routerLink]="['/ajustes']">Ajustes</a>
            <a class="dropdown-item" [routerLink]="['/logout/1']">Salir</a>
          </div>
        </li>
      </ul>

    </div>

  </nav>

  <!-- CONTENIDO dinamico segun la ruta -->
  <router-outlet></router-outlet>

  <br/>
  <footer>
    <hr>

    <div class="row">

      <div class="col">
        <img src="assets/images/blog_logo_66x64.png" width="25" height="25" alt="">
        Blog <!-- &copy; marca del copy right si hiciera falta -->
        <div class="mt-1">
          <a target="_blank" href="https://hernangonzalezmoreno.github.io">Hernán González Moreno</a>
        </div>
      </div>

      <div class="col text-right">
        <!-- Repositorios:<br/> -->
        <a style="font-size:12px" target="_blank" href="https://github.com/hernangonzalezmoreno/frontend-blog-angular">github.com/hernangonzalezmoreno/frontend-blog-angular</a><br/>
        <a style="font-size:12px" target="_blank" href="https://github.com/hernangonzalezmoreno/backend-blog-laravel" >github.com/hernangonzalezmoreno/backend-blog-laravel</a>
      </div>
    </div>

    <hr>
  </footer>

</div>
