/* You can add global styles to this file, and also import other style files */
.post_upload{
  height: 80px;
  margin-bottom: 10px;
}

.avatar_upload{
  height: 80px;
  margin-bottom: 10px;
}

.avatar_nav_mask{
  width: 40px;
  height: 40px;
  border-radius: 900px;
  overflow: hidden;
}

.avatar_nav_mask img{
  height: 40px;
}

.card-header a{
  color: #555;
}

.card-image{
  height: 155px;
  overflow: hidden;
}
